html {
    width: 100%;
    background: #070b0f url(../img/background-melt.jpg) no-repeat fixed top center;
    min-width: 1200px;
}

body {
    text-align: center;
    font-family: sans-serif;
    color: #97e300;
}

body h1 {
    margin: 1.5em;
    font-size: 2em;
}

body p {
    margin: 1.5em;
}

#wrapper {
    display: flex;
    justify-content: space-around;
}

#wrapper h2 {
    font-size: 1.5em;
    margin: 1.5em;
}

#wrapper button {
    display: block;
    margin: 1.5em auto;
    font-size: 1.3em;
    padding: 1em 0.5em;
    width:7em;
    background-color: #fff;
    font-weight: bold;
    border: 1px solid #000;
}
#wrapper button:active {
    border: 3px solid #000;
}

#wrapper #bien button {
    background-color:#09f;
}

#wrapper #bien button:active,
#wrapper #mal button:active {
    color: #fff;
    background-color: #000;
}

#wrapper #mal button {
    background-color: rgba(233, 25, 25, 0.829);
}
